<app-header></app-header>

<main class="container-fluid main-content cases">
  <div class="content-head">
    <h1>Cases</h1>

    <button type="button"
            ng-click="$ctrl.newCase()"
            class="btn btn-primary add-new">New Case</button>
  </div>

  <table class="table table-hover">
    <tr>
      <th>Number</th>
      <th>Client</th>
      <th>Note</th>
      <th>Edit</th>
      <th>Remove</th>
    </tr>
    <tr ng-repeat="case in $ctrl.cases">
      <td>{{case.name}}</td>
      <td>{{case.client}}</td>
      <td>{{case.description}}</td>
      <td><span ng-click="$ctrl.editCase(case.id)"
                class="clickable glyphicon glyphicon-pencil"></span></td>
      <td><span ng-click="$ctrl.destroyCase(case.id)"
                class="clickable glyphicon glyphicon-trash"></span></td>
    </tr>
  </table>
</main>
