<app-header></app-header>

<main class="container-fluid main-content reasons">
  <div class="content-head">
    <h1>Billing Tasks</h1>

    <button type="button"
            ng-click="$ctrl.create()"
            class="btn btn-primary add-new">New Reason</button>
  </div>

  <table class="table table-hover">
    <tr>
      <th>Description</th>
      <th>Edit</th>
      <th>Remove</th>
    </tr>
    <tr ng-repeat="reason in $ctrl.reasons">
      <td>{{reason.name}}</td>
      <td><span ng-click="$ctrl.edit(reason.id)"
                class="clickable glyphicon glyphicon-pencil"></span></td>
      <td><span ng-click="$ctrl.destroy(reason.id)"
                class="clickable glyphicon glyphicon-trash"></span></td>
    </tr>
  </table>
</main>
