<header class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav navbar-left">
      <li>
        <a ng-href="/">Home {{foo}}</a>
      </li>
      <li>
        <a ng-href="/cases">Cases</a>
      </li>
      <li>
        <a ng-href="/billings">Billings</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li ng-show="!user.id">
        <a ng-href="/sign_in">Login</a>
      </li>
      <li ng-show="!user.id">
        <a ng-href="/sign_up">Sign up</a>
      </li>
      <li ng-show="user.id">
        <a href="#">{{user.email}}</a>
      </li>
      <li ng-show="user.id">
        <a ng-click='signOut()'>Sign out</a>
      </li>
    </ul>
  </div>
</header>
