<app-header></app-header>

<main class="container-fluid main-content bills">
  <div class="content-head">
    <h1>Billing Records</h1>

    <button type="button"
            ng-click="$ctrl.newBill()"
            class="btn btn-primary add-new">New Billing Record</button>
  </div>

  <table class="table">
    <tr>
      <th>Case Number</th>
      <th>Client</th>
      <th>Spent</th>
      <th>Date</th>
      <th>Task</th>
      <th>Start</th>
      <th>End</th>
      <th>Edit</th>
      <th>Remove</th>
    </tr>
    <tr ng-repeat="bill in $ctrl.bills">
      <td>{{bill.case.name}}</td>
      <td>{{bill.case.client}}</td>
      <td>{{bill.spent | number:1}}</td>
      <td>{{bill.date | date:'yyyy-MM-dd'}}</td>
      <td>{{bill.task}}</td>
      <td>{{bill.start_time | date:'HH:mm'}}</td>
      <td>{{bill.end_time | date:'HH:mm'}}</td>
      <td><span ng-click="$ctrl.editBill(bill.id)"
                class="clickable glyphicon glyphicon-pencil"></span></td>
      <td><span ng-click="$ctrl.destroyBill(bill.id)"
                class="clickable glyphicon glyphicon-trash"></span></td>
    </tr>
  </table>
</main>
