<app-header></app-header>

<main class="container-fluid main-content home">
  <div class="content-head">
    <div class="flex-row">
      <h1>Billing Summary</h1>
      <span class="glyphicon glyphicon-download download-btn clickable"
            ng-click="$ctrl.download()"></span>
    </div>

    <div>
      <div class="btn-group">
        <button type="button"
                ng-click="$ctrl.all()"
                class="btn btn-default">All</button>
        <button type="button"
                ng-click="$ctrl.lastMonth()"
                class="btn btn-default">Last Month</button>
        <button type="button"
                ng-click="$ctrl.lastWeek()"
                class="btn btn-default">Last Week</button>
        <button type="button"
                ng-click="$ctrl.today()"
                class="btn btn-default">Today</button>
      </div>
      <button type="button"
              ng-click="$ctrl.create()"
              class="btn btn-primary">New Bill</button>
    </div>

  </div>

  <table class="table table-hover table-condensed table-expandable">
    <tr>
      <th>Case Number</th>
      <th>Client</th>
      <th>Summary</th>
      <th>Spent</th>
      <th>Date</th>
      <th>Task</th>
      <th></th>
      <th>Note</th>
    </tr>
    <tr ng-repeat-start="group in $ctrl.groups"
        class="clickable"
        ng-class="group.isCollapsed ? '' : 'active'"
        ng-click="$ctrl.toggleCollapsed(group)">
      <td>{{group.case.name}}</td>
      <td>{{group.case.client}}</td>
      <td>{{group.case.summary}}</td>
      <td>{{group.spent | number:1}}</td>
      <td><span class="glyphicon glyphicon-calendar"></span></td>
      <td><span class="glyphicon glyphicon-zoom-in"></span></td>
      <td></td>
      <td>{{group.case.description}}</td>
    </tr>
    <tr ng-repeat-end
        ng-repeat="bill in group.bills"
        uib-collapse="group.isCollapsed"
        class="">
      <td></td>
      <td></td>
      <td></td>
      <td>{{bill.spent | number:1}}</td>
      <td>{{bill.date | date:'yyyy-MM-dd'}}</td>
      <td>{{bill.task}}</td>
      <td>
        <span class="glyphicon glyphicon-trash clickable"
              ng-click="$ctrl.destroy(bill.id)">
        </span>
      </td>
      <td></td>
    </tr>
    <tr>
      <th>Total</th>
      <th></th>
      <th></th>
      <th>{{$ctrl.totalSpent | number:1}}</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </table>
</main>
