<app-header></app-header>

<main class="container-fluid main-content home">
  <div class="content-head">
    <h1>Billing Summary</h1>
    <div class="button-group">
      <button type="button"
              ng-click="$ctrl.lastMonth()"
              class="btn btn-default">Last Month</button>
      <button type="button"
              ng-click="$ctrl.lastWeek()"
              class="btn btn-default">Last Week</button>
      <button type="button"
              ng-click="$ctrl.today()"
              class="btn btn-default">Today</button>

      <button type="button"
              ng-click=""
              class="btn btn-primary">New Bill</button>
    </div>

  </div>

  <table class="table table-hover table-condensed table-expandable">
    <tr>
      <th>Case Number</th>
      <th>Client</th>
      <th>Note</th>
      <th>Spent</th>
      <th>Date</th>
      <th>Reason</th>
    </tr>
    <tr ng-repeat-start="group in $ctrl.groups"
        class="clickable"
        ng-class="group.isCollapsed ? '' : 'active'"
        ng-click="$ctrl.toggleCollapsed(group)">
      <td>{{group.case.name}}</td>
      <td>{{group.case.client}}</td>
      <td>{{group.case.description}}</td>
      <td>{{group.spent | number:1}}</td>
      <td><span class="glyphicon glyphicon-calendar"></span></td>
      <td><span class="glyphicon glyphicon-zoom-in"></span></td>
    </tr>
    <tr ng-repeat-end
        ng-repeat="bill in group.bills"
        uib-collapse="group.isCollapsed"
        class="">
      <td></td>
      <td></td>
      <td></td>
      <td>{{bill.spent | number:1}}</td>
      <td>{{bill.date | date:'yyyy-MM-dd'}}</td>
      <td>{{bill.reason.name}}</td>
    </tr>
  </table>
</main>
