@import "bootstrap-sprockets";
@import "bootstrap";
@import "lib/angular-ui-notification";

@import "users";
@import "cases";


html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

a {
  cursor: pointer;
}

img {
  max-width: 100%;
}

.clickable {
  cursor: pointer;
  &:hover {
    color: #00B9E7;
  }
}

.main-content {
  padding-top: 40px;
}
