.clickable {
  cursor: pointer;
  &:hover {
    color: #fbb03b;
  }
}

.content-head {
  display: flex;
  align-items: baseline;;
  justify-content: space-between;
  margin-bottom: 10px;

  h1 {
    float: left;
  }

  .add-new {
    float: right;
  }
}

.modal-title {
  text-transform: capitalize;
}
