h1 {
  margin: 15px 0;
}

.clickable {
  cursor: pointer;

  &.glyphicon:hover {
    color: yellowgreen;
  }
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.content-head {
  display: flex;
  align-items: baseline;;
  justify-content: space-between;
  margin-bottom: 10px;

  .add-new {
    float: right;
  }
}

.modal-title {
  text-transform: capitalize;
}

.modal-date {
  label,
  input {
    float: left;
    clear: both;
  }

  input {
    width: 50%;
  }

  .uib-datepicker-popup.dropdown-menu {
    padding: 6px;
  }

  .uib-button-bar {
    padding: 10px 0 2px;
  }
}

.template-input {
  select{
    color: #999;
  }

  textarea {
    margin-top: 5px;
  }
}

#ticktock {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  outline: 0 !important;
  font-size: 20px;
}

@media (max-width: 768px) {
  .sm-hide {
    display: none;
  }
}
