.table-expandable {
  th, td {
    width: 10%;
  }

  td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.download-btn {
  font-size: 24px;
  margin-left: 20px;
}
